@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.blueBar {
    border: 2px solid #0d6efd;
    width: 25%;
    margin: 0 auto 35px;
}

#textDiv {
    text-align: center;
    margin-top: 2rem;
}

#textDiv h1 {
    font-size: 2rem;
    font-weight: bold;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}
#list li a {
    text-decoration: none;
    color: #212529c6;
}

.link {
    text-decoration: none;
    color: #212529c6;
}
#list li {transition: transform 0.18s;}
#list li:hover {transform: translateX(4px);}

.italic {
    font-style: italic;
}