@import url('[https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap](https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap)');

body {
    font-family: 'Nunito', sans-serif !important;
}

.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-text {
    opacity: 1;
}

.hero-text h1 {
    font-size: 3.7rem;
    margin: 0;
    font-weight: bold;
}

.hero-text p {
    font-size: 3.2rem;
    font-weight: bold;
}

.vertical-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-flex h2 {
    font-size: 1.7rem;
    font-weight: bold;
}

.blueBar {
    border: 2px solid #0d6efd;
    width: 100%;
    margin-bottom: 35px;
}

#left-div,
#right-div {
    flex: 1 1 45%;
    max-width: 620px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#left-div img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

#right-div h3 {
    font-size: 1.5rem;
}

#card-main {
    max-width: 1295px;
    width: 100%;
    box-shadow: 0 13px 20px 9px #d9d9d9;
    border-radius: 5px;
    padding: 35px;
}

.progress {
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

@media (max-width: 768px) {
    #left-div,
    #right-div {
        flex: 1 1 100%;
        padding: 10px 0;
    }

    main {
        margin: 20px;
        flex-direction: column;
    }
}
